// -------------------
// Brand/design colors
// -------------------
// Tip: Only create variables for brand colors,
// not for every single possible shade of grey.

$example: #304050;
$grayLight: #F6F7FA;
$text: #fff !default;