.TaskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TaskItem-text {
  word-break: break-all;

  color: #a4a4a4;

  transition: color 0.2s;
}

.TaskItem-box {
  position: relative;

  border: 1px #c9c9c9 solid;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;

  appearance: none;
  transition: background-color 0.2s;
  cursor: pointer;

  &:checked {
    background-color: #4cd9a0;
  }
}

.TaskItem-checkbox {
  position: relative;

  display: flex;
  align-items: center;
}

.TaskItem-check {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;

  color: white;

  transform: translate(-42%, -45%);
  pointer-events: none;
}

.TaskItem-desc {
  position: relative;
}

.TaskItem-line {
  position: absolute;
  top: 50%;
  left: 0;

  width: 0;
  border: solid 1px;
  border-color: transparent;

  transform: translateY(-50%);
  transition-duration: 0.2s;
  transition-property: width, border-color;
}

.TaskItem-done {
  color: #d2d0d0;
}

.TaskItem-extend {
  width: 100%;

  border-color: #b2b1b1;
}

.TaskItem-actions {
  display: flex;
}

.TaskItem-editDelete {
  margin-right: 0.5em;

  display: flex;
  gap: 0.2em;
}

.TaskItem-action {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #d25859;

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &:first-child {
    color: #7670ac;
  }
}
